@charset "UTF-8";

html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}
body{
    color: #121212;
    font-size: 0.9rem;
    line-height: 1.7;  
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

a {
    color: #121212;
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}
header {
    position: relative;
}
h1 {
    position: absolute;
    top: 12px;
    left: 30px;
}

h1 a {
    color: rgb(20, 20, 20);
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1.7px;
}
.main-visual img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.main-title {
    writing-mode:vertical-rl;
    font-size: 3rem;
    position: absolute;
    top:200px;
    right: 100px;
    height: 400px;
}
.title-copy {
    padding-top: 50px;
}
header nav {
    writing-mode:vertical-rl;
    width: 100%;
}
header nav ul{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 50px;
    position: absolute;
    top:500px;
    left: 100px;
    height: 230px;
}
header nav ul li{
    margin: 0 15px;
    position: relative;
}
header nav ul li a{
    color: rgb(20, 20, 20);
    font-size: 0.9rem;
}

header nav ul li a::before{
    position: absolute;
    content: "";
    top: 0;
    right: -5px;
    width: 0px;
    height: 0px;
    transition: all 0.6s;
}
header nav ul li a:hover::before{
    position: absolute;
    content: "";
    top: 0;
    right: -5px;
    width: 3px;
    height: 130px;
    background-color: rgb(197, 194, 0);

}    

/* main */
.back{
    background-image: url(../img/back-white.jpg);
    background-repeat: repeat;
    padding-bottom: 150px;
}

section {
    padding-top: 120px;
}

.slide-items {
    margin: auto;
    display: flex;
}
.slide-items li{
    width: 300px;
}
.slide-items img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 0 10px;
}


/* about */

.about-title {
    writing-mode:vertical-rl;
    font-size: 2.5rem;
    padding-bottom: 50px;
    margin: 0 auto;
}
.item-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 100px;

}
.item-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}
.about-item img{
    object-fit: cover;
    width: 40%;
    height: 300px;
}
/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
  }
  
.about-item p{
    align-content: center;
    width: 58%;
    font-size: 1rem;
    writing-mode:vertical-rl;
    height: 300px;
    line-height: 300%;
}



/* shop */


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    /* opacity: 0.5; */
}
.items {
    position: relative;
    padding-bottom: 100px;
    text-align: center;
}
.items::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #0000006e;
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.item-list a{
    display: block;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.item-list img{
    height: 250px;
    object-fit: cover;
}
.item-txt {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}
h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
h3 {
    padding-top: 10px;
}
.item-txt dl {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 10px;
}
.item-txt dl dt {
    width: 50%;
}
.item-txt dl dd {
    width: 50%;
}


/* footer */

footer {
    padding: 100px 0 30px 0;
    background-image: url(../img/back-white.jpg);
    text-align: center;
}
footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.footer-nav{
    border-radius: 5px;
    padding: 10px 25px;
    margin-bottom: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border: none;
    color: #000;
    font-size: 0.8rem;
  }
  
.footer-nav::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: 0;
    box-shadow:
     -7px -7px 20px 0px rgba(255, 255, 255, 0.753),
     -4px -4px 5px 0px rgba(255, 255, 255, 0.774),
     7px 7px 20px 0px rgba(0, 0, 0, 0.329),
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }

  .footer-nav:hover {
    color: #000;
  }

  .footer-nav:hover::after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .footer-nav:active {
    top: 2px;
  }
small {
    font-size: 0.7rem;
}



/* company  contactのヘッダー */

.sub-visual img{
    object-fit: cover;
    object-position: 50% 40%;
    height: 300px;
    padding-top: 70px;
}    

.sub-header.hamburger {
    width: 75px;
    height: 75px;
} 
.sub-header.hamburger span{
    width: 35px;
}    
header.sub-header{
    display: flex;
    justify-content: right;
    padding: 0 25px;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.sub-header nav{
    opacity: 0;
    visibility: hidden;
    z-index: 20;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    right: -100%;
}
.sub-header nav ul{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 160px 150px 0px 40px;
    position: absolute;
    top: -50px;
    right: -100px;
    height: 400px;
    width: 400px;
    z-index: 0;
}

.open nav {
    opacity: 1;
    visibility: visible;
    right: 0;
}

.sub-header .hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
}
.sub-header .hamburger span {
display: block;
width: 100%;
height: 2px;
background-color: #333;
transition: all 0.5s;
position: absolute;
}
.hamburger span:nth-child(1){
    top: 10%;
}
.hamburger span:nth-child(2){
    top: 50%;
}
.hamburger span:nth-child(3){
    top: 90%;
}
.open .hamburger span:nth-child(1) {
    top: 50%;
    transform: rotate(315deg);
}
.open .hamburger span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}
.open .hamburger span:nth-child(3) {
    top: 50%;
    transform: rotate(-315deg);
}
#mask {
    display: none;          
    }
.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(228, 241, 166, 0.8);
    z-index: 15;
}



/* company */

section.company {
    padding-top: 50px;
    padding-bottom: 100px;
}

.company {
    background-image: url(../img/back-white.jpg);
    margin: 0 auto;
}
iframe {
    width: 100%;
    height: 250px;
    filter: grayscale(100%);
    padding-top: 50px;
} 

h4 {
    font-size: 2rem;
    text-align: center;
}
.company-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}
.company-img {
    width: 45%;
    object-fit: cover;
}
.company-txt{
    width: 50%;

}
.company-txt img{
    width: 20px;
}
.company-txt dl{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.company-txt dt{
    width: 35%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.company-txt dd{
    width: 65%;
    padding: 15px 0;
}


/* contact */
section.contact {
    padding-top: 50px;
    padding-bottom: 100px;
}
.form {
text-align: center;
}
.form dl{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.form dt{
    width: 20%;
    margin: 10px 0 5px 0;
    padding: 10px;
}
.form dd {
    width: 80%;
    margin: 10px 0 5px 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(204, 204, 181);
}
.form dd.checkbox {
    background-color: transparent;
    border: solid 0px rgb(204, 204, 181);
}

input {
    width: 100%;
}
textarea {
    width: 100%;
}
.checkbox label{
    margin-right: 10%;
}

.checkbox input{
    width: 5%;
}
.send {
    margin: 0 auto;
    width: 30%;
    background-color: #121212;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
    /* letter-spacing: 10px; */
}



/* alcohol */
.alcohol {
    background-image: url(../img/back-white.jpg);
    margin: 0 auto;
}
.alcohol-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.alcohol-item img{
    object-fit: cover;
    width: 45%;
}
.alcohol-txt{
    width: 50%;
}
.alcohol-txt p{
    font-size: 12px;
    text-align: right;
    padding-top: 20px;
}
.alcohol-txt button {
    background-color: #121212;
    border: solid 2px #121212;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 30px 0;
    padding: 15px;
    width: 100%;
    transition: all 0.5s;
}
.alcohol-txt button:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #121212;
    border: solid 2px #121212;
}
.alcohol-txt label{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.alcohol-txt input{
    width: 30px;
}
.feature {
    display: flex;
    align-content: center;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;

}
.feature p{
    text-align: center;
    align-content: center;
    width: 30%;
    font-size: 20px;
}
.feature dl{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.feature dt{
    width: 60%;
    padding: 5px 0;
    border-bottom: dashed 1px #b7b7b7;
}
.feature dd{
    width: 40%;
    padding: 5px 0;
    border-bottom: dashed 1px #b7b7b7;

}
.explanation {
    padding: 50px 0;
}
.explanation p{
    padding: 20px 0;
}


.table-price {
    border-collapse:collapse;
    font-size: 12px;
    width: 100%;
    margin-top: 20px;
}

.table-price tr td{
    border-right: 1px solid rgb(194, 194, 194);
    padding: 10px;
}

.table-price tr td:last-child{
    border-right: none;
}

.table-price tr td{
    border-bottom: 1px solid rgb(194, 194, 194);
}

.table-price tr:last-child td{
    border-bottom: none;
}
.amount , .price , .total{
    width: 20%;
    text-align: center;
}
.count {
    width: 40%;
}
select {
    padding: 0 10px;
    appearance: menulist;
    border: 1px solid rgb(194, 194, 194);
    width: 100%;
    background-color: #fff;
}




@media (max-width:870px) {

    .main-title {
        writing-mode:vertical-rl;
        font-size: 1.5rem;
        position: absolute;
        top:120px;
        right: 100px;
    }
    .main-visual img{
        object-position: 50% 20%;
        height: 380px;
        padding-top: 70px;
    }    

    /* ハンバーガーメニュー */
    
    .hamburger {
        width: 75px;
        height: 75px;
    } 
    .hamburger span{
        width: 35px;
    }    
    header{
        display: flex;
        justify-content: right;
        padding: 0 25px;
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 30;
        background-color: rgb(255, 255, 255);
        align-items: center;
    }
    header nav{
        opacity: 0;
        visibility: hidden;
        z-index: 20;
        transition: all 0.5s;
        position: absolute;
        top: 0;
        right: -100%;
    }
    header nav ul{
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        padding: 160px 150px 0px 40px;
        position: absolute;
        top: -50px;
        /* left: 480px; */
        right: -100px;
        height: 400px;
        width: 400px;
        z-index: 0;
    }

    .open nav {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    .hamburger {
        width: 30px;
        height: 30px;
        position: relative;
        transition: all 0.5s;
        cursor: pointer;
        z-index: 20;
    }
    .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.5s;
    position: absolute;
    }
    .hamburger span:nth-child(1){
        top: 10%;
    }
    .hamburger span:nth-child(2){
        top: 50%;
    }
    .hamburger span:nth-child(3){
        top: 90%;
    }
    .open .hamburger span:nth-child(1) {
        top: 50%;
        transform: rotate(315deg);
    }
    .open .hamburger span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }
    .open .hamburger span:nth-child(3) {
        top: 50%;
        transform: rotate(-315deg);
    }
    #mask {
        display: none;          
        }
    .open #mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(228, 241, 166, 0.8);
        z-index: 15;
    }
          
/* about */
    
    .item-left {
    flex-direction: column;    padding-bottom: 100px;

    }
    .item-right {
    flex-direction: column;
    width: 100%;
    }
    .about-item img{
    width: 100%;
    margin: 0 auto;    

    }
    .about-item p{
    width: 100%;
    margin: 0 auto;   
    padding-top: 30px; 
    }


/* shop */

    .item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .item-list a{
        width: 70%;
        height: auto;
        margin: 0 auto;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
    .item-txt {
        flex-grow: 0;
        flex-basis: 80%;
    }

    .item-list img{
        width: 80%;
        height: 80%;
    }
    
 /* company */
    .company {
        padding-top: 100px;
    }
    .company-item {
        flex-direction: column;
        width: 100%;
    }
    .company-txt{
        width: 100%;
        margin: 0 auto;
    }
    .company-txt dl{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }
    .company-txt dt{
        width: 35%;
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .company-txt dd{
        width: 65%;
        padding: 15px 0;
    }
    .company-img {
        object-position: 50% 30%;
        width: 100%;
        height: 250px;
        margin: 0 auto;
    }
    

    /* contact */
    .contact {
        padding-top: 100px;
    }
    .form dl{
        flex-direction: column;
    }    
    .form dt{
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0px;
    }
    .form dd {
        width: 100%;
        margin: 0;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border: solid 1px rgb(204, 204, 181);
    }
    

    /* alcohol */

    .alcohol-item{
        flex-direction: column;
    }
    .alcohol-item img{
        width: 80%;
        margin: 0 auto;
    }
    .alcohol-txt{
        width: 80%;
        margin: 0 auto;
    }
    h4 {
        padding-top: 30px;
    }
    .explanation {
        width: 80%;
        margin: 0 auto;
    }
    

    /* border: solid 1px red; */

}