@charset "UTF-8";


.html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
}

h1 {
    line-height: 0;
}

/* header */

header {
    padding-bottom: 20px;
}
.mainvisual {
    position: relative;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-size: 100px; */
    color: white;
    transform: translate(-50%, -50%);
}
.logo {
    width: 460px;
    height: auto;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.7));
}
.mainvisual > img {
    object-fit: cover;
    height: 100vh;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
nav ul{
    display: flex;
    margin: 20px 40px 0 0;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    color: white;
    font-weight: 600;
    font-size: 13px;
    text-shadow: 2px 2px 2px #000;
    transition: all 0.5s;
}
nav ul li a:hover {
    color: red;
}



/* MENU */

.menu-img  {
    width: 100%;
    height: 35vh;
    background-image: url(../img/menu.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}  
.menu-img h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    filter: drop-shadow(2px 2px 5px #fff);
}
.menu-items {
    max-width: 1000px;
    display: flex;
    padding: 100px 15px;
    margin: 0 auto;
}
.menu-item {
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
}
.menu-item:first-child {
    border-right: solid 1px;
}
h3 {
    display: inline-block;
    font-size: 40px;
    border-bottom: solid 7px rgb(211, 0, 0);
    text-align: center;
    margin-bottom: 50px;
    padding: 5px 0;
}
dl  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    padding: 0 30px;
}
dt {
    width: 90%;
    border-bottom: dotted;
}
dd {
    width: 10%;
    text-align: right;
}
dt,dd {
    padding-top: 30px;
}
.other {
    margin-top: 75px;
}


/* ABOUT */

.about-img {
    width: 100%;
    height: 35vh;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative; 
}
.about-img h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    filter: drop-shadow(2px 2px 5px #fff);
}

.coffee-item {
    text-align: center;
    padding: 100px 0 170px 0;
}

.coffee-text {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px 0 10px;
}
.coffee-txt {
    width: 50%;
    padding: 0 20px;
    text-align: left;
    font-size: 14px;
}

.coffee-txt p {
    padding-bottom: 50px;
    line-height: 25px;
}

.btn {
    width: 160px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: #000;
    transition: all 0.3s ease;
    position: relative;
}
.btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.btn::before,
.btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
.btn span::before,
.btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
.btn::before,
.btn span::before {
  width: 2px;
  height: 50%;
}
.btn::after,
.btn span::after {
  width: 20%;
  height: 2px;
}

/*
ホバー時の縦の動作
縦線の高さを100%にする
*/
.btn:hover::before,
.btn span:hover::before {
  height: 100%;
}
/*
ホバー時の横の動作
横線の横幅を100%にする
*/
.btn:hover::after,
.btn span:hover::after {
  width: 100%;
}



/* LOCATION */

.location-img {
    width: 100%;
    height: 35vh;
    background-image: url(../img/location.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
.location-img h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    filter: drop-shadow(2px 2px 5px #fff);
}



/* OUR STORE */

.ourstore {
    text-align: center;
    padding: 100px 20px;
    max-width: 1000px;
    margin: 0 auto;
}
iframe {
    width: 100%;
    height: 400px;
    padding-top: 20px;
    filter: grayscale(100%);
}
.map-txt {
    text-align: left;
    padding: 30px 0;
}
.map-txt p{
    padding-bottom: 10px;
    font-size: 14px;
}


/* footer */

footer {
    padding-bottom: 10px;
    text-align: center;
}
small {
    font-size: 8px;
}